<%= provide(:title, "About") %>

<div class="jumbotron">
	<h1>About Page</h1>
	<p>
		This is the home page for the Awesome Blog.<br>

		This is the project under the <a href="#">Kredo Japan</a>
	</p>
</div>